NEXT_PUBLIC_SUPABASE_URL=https://ckcxukuleqrtynnkmqxs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrY3h1a3VsZXFydHlubmttcXhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzMTQzMTMsImV4cCI6MjEwNTg5MDMxM30.isG7-8l2ZxtHcU9_Qkh-nCk-4YOvmJlNDeQgVN_9sJs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrY3h1a3VsZXFydHlubmttcXhzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDMxNDMxMywiZXhwIjoyMTA1ODkwMzEzfQ.lGqTONJ49ztvpBF7LeegpGaI8X0vvysZ0OkCG89-pTM